*.DS_Store
*.vs
*.user
*~
*.vscode
*.idea
*.log
.clang-format
.clang_format.hook
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class
.git/
.env

.pre-commit-config.yaml
docker-compose.yaml
interface.py
restarttest.py

output/
test_data/
train_data/
log_output/*
inference_results/*

